<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поисковик документов</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Поиск документов</h1>
        <form id="search-form" class="my-4" method="GET" action="{% url 'document_search' %}">
            <div class="form-group">
                <label for="query">Поисковый запрос</label>
                <input type="text" class="form-control" id="query" name="q" required>
            </div>
            <button type="submit" class="btn btn-primary">Поиск</button>
        </form>

        {% if documents %}
            <h2>Результаты поиска</h2>
            <ul class="list-group">
                {% for document in documents %}
                    <li class="list-group-item">
                        <h5>Document ID: {{ document.id }}</h5>
                        <p>Текст: {{ document.text }}</p>
                        <p>Рубрики: {{ document.rubrics|join:", " }}</p>
                        <p>Дата создания: {{ document.created_date }}</p>
                        <form action="{% url 'document_delete' document.id %}" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить этот документ?');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>