<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Поиск текстов</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="search-container">
        <h1>Поисковик по текстам документов</h1>
        <form action="/search" method="post" autocomplete="off">
            <input type="text" name="query" placeholder="Введите текст..." autocomplete="off" required>
            <input type="submit" value="Поиск" class="submit-button">
        </form>
    </div>

</body>

</html>